@model ExpertManagmentSystem.Models.CrimeModels.Cr_Decided_Judicial_and_Prosecuter

@{
    ViewData["Title"] = "DecidedJudicialAppealEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DecidedJudicialAppealEdit</h1>

<h4>Cr_Decided_Judicial_and_Prosecuter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DecidedJudicialAppealEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cr_Decided_Judicial_and_ProsecuterId" />
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProsocuterNo" class="control-label"></label>
                <input asp-for="ProsocuterNo" class="form-control" />
                <span asp-validation-for="ProsocuterNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court_No" class="control-label"></label>
                <input asp-for="Court_No" class="form-control" />
                <span asp-validation-for="Court_No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant" class="control-label"></label>
                <input asp-for="Applicant" class="form-control" />
                <span asp-validation-for="Applicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respondant" class="control-label"></label>
                <input asp-for="Respondant" class="form-control" />
                <span asp-validation-for="Respondant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeType" class="control-label"></label>
                <input asp-for="CrimeType" class="form-control" />
                <span asp-validation-for="CrimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProsecutorComment" class="control-label"></label>
                <input asp-for="ProsecutorComment" class="form-control" />
                <span asp-validation-for="ProsecutorComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Other" class="control-label"></label>
                <input asp-for="Other" class="form-control" />
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoLawyeCommented" class="control-label"></label>
                <input asp-for="WhoLawyeCommented" class="form-control" />
                <span asp-validation-for="WhoLawyeCommented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighCourtDecission" class="control-label"></label>
                <select asp-for="HighCourtDecission" class="form-control"></select>
                <span asp-validation-for="HighCourtDecission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherCourtDecition" class="control-label"></label>
                <input asp-for="OtherCourtDecition" class="form-control" />
                <span asp-validation-for="OtherCourtDecition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoJudgeCommentedOnDecision" class="control-label"></label>
                <input asp-for="WhoJudgeCommentedOnDecision" class="form-control" />
                <span asp-validation-for="WhoJudgeCommentedOnDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfFemaleAppellants" class="control-label"></label>
                <input asp-for="NumberOfFemaleAppellants" class="form-control" />
                <span asp-validation-for="NumberOfFemaleAppellants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfMaleAppellants" class="control-label"></label>
                <input asp-for="NumberOfMaleAppellants" class="form-control" />
                <span asp-validation-for="NumberOfMaleAppellants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileStatus" class="control-label"></label>
                <select asp-for="FileStatus" class="form-control"></select>
                <span asp-validation-for="FileStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileEndResult" class="control-label"></label>
                <select asp-for="FileEndResult" class="form-control"></select>
                <span asp-validation-for="FileEndResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederalBreakingRequest" class="control-label"></label>
                <select asp-for="FederalBreakingRequest" class="form-control"></select>
                <span asp-validation-for="FederalBreakingRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cr_Crime_TypeId" class="control-label"></label>
                <select asp-for="Cr_Crime_TypeId" class="form-control" asp-items="ViewBag.Cr_Crime_TypeId"></select>
                <span asp-validation-for="Cr_Crime_TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                <select asp-for="SectrorsDepartmentId" class="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
                <span asp-validation-for="SectrorsDepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
