@using ExpertManagmentSystem.Models.Corruption
@model ExpertManagmentSystem.Models.Corruption.CO_FirstOrder

@{
    ViewData["Title"] = "Create";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">የመሪ ትዕዛዝ መመዝገቢያ</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="body-box">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="ProsecotorRecordNo" class="control-label"></label>
                                        <input asp-for="ProsecotorRecordNo" class="form-control" />
                                        <span asp-validation-for="ProsecotorRecordNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="ZoneProsecotorRecordNo" class="control-label"></label>
                                        <input asp-for="ZoneProsecotorRecordNo" class="form-control" />
                                        <span asp-validation-for="ZoneProsecotorRecordNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="DefendantName" class="control-label"></label>
                                        <input asp-for="DefendantName" class="form-control" />
                                        <span asp-validation-for="DefendantName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Zone" class="control-label"></label>
                                        <input asp-for="Zone" class="form-control" />
                                        <span asp-validation-for="Zone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="OpeningDate" class="control-label"></label>
                                        <input asp-for="OpeningDate" class="form-control" />
                                        <span asp-validation-for="OpeningDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Gender" class="control-label"></label>
                                        @Html.DropDownList("Gender", Html.GetEnumSelectList<Gender>(), " ዖታ ይምረጡ ", new { @class = "form-control" })
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Amount" class="control-label"></label>
                                        <input asp-for="Amount" class="form-control" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Comment" class="control-label"></label>
                                        <input asp-for="Comment" class="form-control" />
                                        <span asp-validation-for="Comment" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Remark" class="control-label"></label>
                                        <input asp-for="Remark" class="form-control" />
                                        <span asp-validation-for="Remark" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                                        <select asp-for="SectrorsDepartmentId" class="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="submit" value="መዝግብ" class="btn btn-primary" />
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-info" style="color:white;"> ወደ ዝርዝር ተመለስ </a>
                                       @*  <a asp-action="Index">Back to List</a> *@
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
