@using ExpertManagmentSystem.Enums
@model ExpertManagmentSystem.Models.CivilCaseModels.CCLegaladvices


<div class="modal fade" id="addCCLegaladicesmodals" aria-labelledby="addLegaladicesLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content" style="width:850px">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title"> የህግ ምክር አገልግሎት </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:white;">×</span></button>
                </div>
                <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="LadFileNo" class="control-label"></label>
                        <input asp-for="LadFileNo" class="form-control" />
                        <span asp-validation-for="LadFileNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Ladvicerequester" class="control-label"></label>
                        <input asp-for="Ladvicerequester" class="form-control" />
                        <span asp-validation-for="Ladvicerequester" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label asp-for="LadDoariv" class="control-label"></label>
                        <input type="Date" asp-for="LadDoariv" class="form-control" />
                        <span asp-validation-for="LadDoariv" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="LadTypes" class="control-label"></label>
                            <input asp-for="LadTypes" class="form-control" />
                            <span asp-validation-for="LadTypes" class="text-danger"></span>
                        </div>
                    
                        <div class="form-group col-md-4">
                            <label asp-for="LadAmountBirr" class="control-label"></label>
                            <input asp-for="LadAmountBirr" class="form-control" />
                            <span asp-validation-for="LadAmountBirr" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                        <label asp-for="LadAmountKarie" class="control-label"></label>
                        <input asp-for="LadAmountKarie" class="form-control" />
                        <span asp-validation-for="LadAmountKarie" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="ZonalSectorsId" class="control-label"></label>
                        <input asp-for="ZonalSectorsId" class="form-control" />
                        <span asp-validation-for="ZonalSectorsId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="WoredaSectorsId" class="control-label"></label>
                        <input asp-for="WoredaSectorsId" class="form-control" />
                        <span asp-validation-for="WoredaSectorsId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label asp-for="LadExpertName" class="control-label"></label>
                        <input asp-for="LadExpertName" class="form-control" />
                        <span asp-validation-for="LadExpertName" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="LadDaos" class="control-label"></label>
                         <input type="Date" asp-for="LadDaos" class="form-control" />
                        <span asp-validation-for="LadDaos" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label asp-for="LadDoare" class="control-label"></label>
                        <input type="Date" asp-for="LadDoare" class="form-control" />
                        <span asp-validation-for="LadDoare" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="LadTimeTaken" class="control-label"></label>
                        <input asp-for="LadTimeTaken" class="form-control" />
                        <span asp-validation-for="LadTimeTaken" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="CCLadDecissionTypes" class="control-label"></label>
                        <input asp-for="CCLadDecissionTypes" class="form-control" />
                        @* @Html.DropDownList("CCLadDecissionTypes", Html.GetEnumSelectList<CCPDecissionTypes>(), " የአቃቢ ህግ ውሳኔ ይምረጡ ", new { @class = "form-control" }) *@
                        <span asp-validation-for="CCLadDecissionTypes" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="LadAssignto" class="control-label"></label>
                        <input asp-for="LadAssignto" class="form-control" />
                        <span asp-validation-for="LadAssignto" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
