@model ExpertManagmentSystem.Models.CivilCaseModels.CCLegaladvices

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CCLegaladvices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LadFileNo" class="control-label"></label>
                <input asp-for="LadFileNo" class="form-control" />
                <span asp-validation-for="LadFileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ladvicerequester" class="control-label"></label>
                <input asp-for="Ladvicerequester" class="form-control" />
                <span asp-validation-for="Ladvicerequester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadDoariv" class="control-label"></label>
                <input asp-for="LadDoariv" class="form-control" />
                <span asp-validation-for="LadDoariv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadTypes" class="control-label"></label>
                <input asp-for="LadTypes" class="form-control" />
                <span asp-validation-for="LadTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadAmountBirr" class="control-label"></label>
                <input asp-for="LadAmountBirr" class="form-control" />
                <span asp-validation-for="LadAmountBirr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadAmountKarie" class="control-label"></label>
                <input asp-for="LadAmountKarie" class="form-control" />
                <span asp-validation-for="LadAmountKarie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadAddressZone" class="control-label"></label>
                <input asp-for="LadAddressZone" class="form-control" />
                <span asp-validation-for="LadAddressZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadAddressWoreda" class="control-label"></label>
                <input asp-for="LadAddressWoreda" class="form-control" />
                <span asp-validation-for="LadAddressWoreda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadExpertName" class="control-label"></label>
                <input asp-for="LadExpertName" class="form-control" />
                <span asp-validation-for="LadExpertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadDaos" class="control-label"></label>
                <input asp-for="LadDaos" class="form-control" />
                <span asp-validation-for="LadDaos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadDoare" class="control-label"></label>
                <input asp-for="LadDoare" class="form-control" />
                <span asp-validation-for="LadDoare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadTimeTaken" class="control-label"></label>
                <input asp-for="LadTimeTaken" class="form-control" />
                <span asp-validation-for="LadTimeTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadPDecisoion" class="control-label"></label>
                <input asp-for="LadPDecisoion" class="form-control" />
                <span asp-validation-for="LadPDecisoion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LadAssignto" class="control-label"></label>
                <input asp-for="LadAssignto" class="form-control" />
                <span asp-validation-for="LadAssignto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
