@using ExpertManagmentSystem.Enums
@model ExpertManagmentSystem.ViewModels.CorruptionViewModel.CO_ProsecutorAppealOrBreakViewModel

@{
    ViewData["Title"] = "BreakCreate";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">የዐቃቤ ህግ ሰበር መመዝገቢያ</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="body-box">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                @* <div class="form-group col-sm-4">
                                    <label asp-for="CO_ProsecutorAppealOrBreakId" class="control-label"></label>
                                    <input asp-for="CO_ProsecutorAppealOrBreakId" class="form-control" />
                                    <span asp-validation-for="CO_ProsecutorAppealOrBreakId" class="text-danger"></span>
                                </div> *@
                                <div class="form-group col-sm-4">
                                    <label asp-for="CourtDecision" class="control-label"></label>
                                    @Html.DropDownList("CourtDecision", Html.GetEnumSelectList<HighCourtDecission>(), " ዖታ ይምረጡ ", new { @class = "form-control" })
                                    <span asp-validation-for="CourtDecision" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="ExpertOpinion" class="control-label"></label>
                                    <input asp-for="ExpertOpinion" class="form-control" />
                                    <span asp-validation-for="ExpertOpinion" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Various" class="control-label"></label>
                                    <input asp-for="Various" class="form-control" />
                                    <span asp-validation-for="Various" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="NewExisting" class="control-label"></label>
                                    @Html.DropDownList("NewExisting", Html.GetEnumSelectList<FileStatus>(), " አዲስ/ነባር ይምረጡ ", new { @class = "form-control" })
                                    <span asp-validation-for="NewExisting" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="WinnerLoser" class="control-label"></label>
                                    @Html.DropDownList("WinnerLoser", Html.GetEnumSelectList<FileEndResult>(), " አሸናፊ/ተሸናፊ ይምረጡ ", new { @class = "form-control" })
                                    <span asp-validation-for="WinnerLoser" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="FederalRequested" class="control-label"></label>
                                    @Html.DropDownList("FederalRequested", Html.GetEnumSelectList<FederalBreakingRequest>(), " ለፌደራል የተጠየቀ ይምረጡ ", new { @class = "form-control" })
                                    <span asp-validation-for="FederalRequested" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                                    <input asp-for="SectrorsDepartmentId" class="form-control" />
                                    <span asp-validation-for="SectrorsDepartmentId" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <input type="submit" value="መዝግብ" class="btn btn-primary" />
                                    </div>
                                    <div>
                                        <a asp-action="Index">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
