@model ExpertManagmentSystem.Models.CivilCaseModels.DirectChargeFollowUp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DirectChargeFollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IssuedCourtWrittenForOrganization" class="control-label"></label>
                <input asp-for="IssuedCourtWrittenForOrganization" class="form-control" />
                <span asp-validation-for="IssuedCourtWrittenForOrganization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSubmittedToCourt" class="control-label"></label>
                <input asp-for="DateSubmittedToCourt" class="form-control" />
                <span asp-validation-for="DateSubmittedToCourt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateApointmented" class="control-label"></label>
                <input asp-for="DateApointmented" class="form-control" />
                <span asp-validation-for="DateApointmented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecissionDate" class="control-label"></label>
                <input asp-for="DecissionDate" class="form-control" />
                <span asp-validation-for="DecissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CivilCaseCategory" class="control-label"></label>
                <input asp-for="CivilCaseCategory" class="form-control" />
                <span asp-validation-for="CivilCaseCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectChargeOppeningId" class="control-label"></label>
                <select asp-for="DirectChargeOppeningId" class="form-control" asp-items="ViewBag.DirectChargeOppeningId"></select>
                <span asp-validation-for="DirectChargeOppeningId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdittedAt" class="control-label"></label>
                <input asp-for="EdittedAt" class="form-control" />
                <span asp-validation-for="EdittedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserUser" class="control-label"></label>
                <input asp-for="ApplicationUserUser" class="form-control" />
                <span asp-validation-for="ApplicationUserUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
