@model ExpertManagmentSystem.Models.Corruption.CO_ProsecutorAppealOrBreak

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CO_ProsecutorAppealOrBreak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CO_ProsecutorAppealOrBreakId" />
            <div class="form-group">
                <label asp-for="ProsecutorNo" class="control-label"></label>
                <input asp-for="ProsecutorNo" class="form-control" />
                <span asp-validation-for="ProsecutorNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupremCourtNo" class="control-label"></label>
                <input asp-for="SupremCourtNo" class="form-control" />
                <span asp-validation-for="SupremCourtNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appellant" class="control-label"></label>
                <input asp-for="Appellant" class="form-control" />
                <span asp-validation-for="Appellant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answerer" class="control-label"></label>
                <input asp-for="Answerer" class="form-control" />
                <span asp-validation-for="Answerer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cr_Crime_TypeId" class="control-label"></label>
                <select asp-for="Cr_Crime_TypeId" class="form-control" asp-items="ViewBag.Cr_Crime_TypeId"></select>
                <span asp-validation-for="Cr_Crime_TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowerCourtDecision" class="control-label"></label>
                <input asp-for="LowerCourtDecision" class="form-control" />
                <span asp-validation-for="LowerCourtDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProsecutorComment" class="control-label"></label>
                <select asp-for="ProsecutorComment" class="form-control"></select>
                <span asp-validation-for="ProsecutorComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Various" class="control-label"></label>
                <input asp-for="Various" class="form-control" />
                <span asp-validation-for="Various" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertOpinion" class="control-label"></label>
                <input asp-for="ExpertOpinion" class="form-control" />
                <span asp-validation-for="ExpertOpinion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_AppealOrBreak" class="control-label"></label>
                <select asp-for="F_AppealOrBreak" class="form-control"></select>
                <span asp-validation-for="F_AppealOrBreak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                <select asp-for="SectrorsDepartmentId" class="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
                <span asp-validation-for="SectrorsDepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
