@model IEnumerable<ExpertManagmentSystem.Models.CrimeModels.Cr_Crime_Type>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">የወንጀል አይነቶች ዝርዝር ማውጫ </h3>
        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#CrimeTypeRegistration"> <i class="fa fa-plus"></i> አዲስ መዝግብ</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="DecidedJudicialAndProsecuterTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
        <tr>
            <th>
                የወንጀል አይነቶች
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CrimeTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cr_Crime_TypeId">Edit</a> |             
                <a asp-action="Delete" asp-route-id="@item.Cr_Crime_TypeId">Delete</a>
            </td>
        </tr>
}
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_Cr_CreateCrimeTypePartial", new Cr_Crime_Type ())

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }