@model ExpertManagmentSystem.Models.EconomyModels.Eco_ProsecutorAppeals

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eco_ProsecutorAppeals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Eco_ProsecutorAppealsId" />
            <div class="form-group">
                <label asp-for="FileOpeningDate" class="control-label"></label>
                <input asp-for="FileOpeningDate" class="form-control" />
                <span asp-validation-for="FileOpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProsecutorNo" class="control-label"></label>
                <input asp-for="ProsecutorNo" class="form-control" />
                <span asp-validation-for="ProsecutorNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourtNo" class="control-label"></label>
                <input asp-for="CourtNo" class="form-control" />
                <span asp-validation-for="CourtNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant" class="control-label"></label>
                <input asp-for="Applicant" class="form-control" />
                <span asp-validation-for="Applicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respondant" class="control-label"></label>
                <input asp-for="Respondant" class="form-control" />
                <span asp-validation-for="Respondant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cr_Crime_TypeId" class="control-label"></label>
                <select asp-for="Cr_Crime_TypeId" class="form-control" asp-items="ViewBag.Cr_Crime_TypeId"></select>
                <span asp-validation-for="Cr_Crime_TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourtDecission" class="control-label"></label>
                <input asp-for="CourtDecission" class="form-control" />
                <span asp-validation-for="CourtDecission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertName" class="control-label"></label>
                <input asp-for="ExpertName" class="form-control" />
                <span asp-validation-for="ExpertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eco_GeneralCourtDecissionId" class="control-label"></label>
                <select asp-for="Eco_GeneralCourtDecissionId" class="form-control" asp-items="ViewBag.Eco_GeneralCourtDecissionId"></select>
                <span asp-validation-for="Eco_GeneralCourtDecissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaleApplicant" class="control-label"></label>
                <input asp-for="MaleApplicant" class="form-control" />
                <span asp-validation-for="MaleApplicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemaleApplicant" class="control-label"></label>
                <input asp-for="FemaleApplicant" class="form-control" />
                <span asp-validation-for="FemaleApplicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppealStatus" class="control-label"></label>
                <select asp-for="AppealStatus" class="form-control"></select>
                <span asp-validation-for="AppealStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederalBreakingRequest" class="control-label"></label>
                <select asp-for="FederalBreakingRequest" class="form-control"></select>
                <span asp-validation-for="FederalBreakingRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
