@using ExpertManagmentSystem.Enums
@model ExpertManagmentSystem.Models.CivilCaseModels.CCFreelServices

@{
    ViewData["Title"] = "Edit";
}

<!-- general form elements disabled -->
<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title"> ነፃ የህግ ደጋፍ ሰበር አመልካች የዐቃቢ ህግ ውሳኔ </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form asp-action="Editr">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CCFreelServicesId" />
            <div class="form-group">
                <label asp-for="CCPDecissionTypes" class="control-label"></label>
                @Html.DropDownList("CCPDecissionTypes", Html.GetEnumSelectList<CCPDecissionTypes>(), " የአቃቢ ህግ ውሳኔ ይምረጡ ", new { @class = "form-control" })
                <span asp-validation-for="CCPDecissionTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success text-light btn-sm"> ወደ ዋናው ተመለስ </a>
                <input type="submit" value="ውሳኔ ያስተላልፉ" class="btn btn-primary float-right btn-circle" />
            </div>
        </form>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

