@* @using ExpertManagmentSystem.Models.Corruption.CO_PetitionFollowUp *@
@using ExpertManagmentSystem.Models.Corruption
@model ExpertManagmentSystem.ViewModels.CorruptionViewModel.CO_PetitionFollowUpViewModel
@{
    ViewData["Title"] = "CreateFollowUp";

}

<h1>CreateFollowUp</h1>

<h4>CO_PetitionFollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFollowUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CO_PetitionId" class="control-label"></label>
                <input asp-for="CO_PetitionId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ExpertName" class="control-label"></label>
                <input asp-for="ExpertName" class="form-control" />
                <span asp-validation-for="ExpertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionDecision" class="control-label"></label>
                @Html.DropDownList("PetitionDecision", Html.GetEnumSelectList<PetitionDecision>(), " ውሳኔ ", new { @class = "form-control" })
                <span asp-validation-for="PetitionDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComeanEnd" class="control-label"></label>
                @Html.DropDownList("ComeanEnd", Html.GetEnumSelectList<ComeanEnd>(), " ፍፃሜ ያገኘ ", new { @class = "form-control" })
                <span asp-validation-for="ComeanEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                <input asp-for="SectrorsDepartmentId" class="form-control" />
                <span asp-validation-for="SectrorsDepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

