@using ExpertManagmentSystem.Enums
@using ExpertManagmentSystem.Models.Corruption
@model ExpertManagmentSystem.Models.Corruption.CO_Petition

@{
    ViewData["Title"] = "Create";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">የአቤቱታ መመዝገቢያ</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="body-box">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="RecordNo" class="control-label"></label>
                                        <input asp-for="RecordNo" class="form-control" />
                                        <span asp-validation-for="RecordNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="ComplainantsName" class="control-label"></label>
                                        <input asp-for="ComplainantsName" class="form-control" />
                                        <span asp-validation-for="ComplainantsName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="CrimeCommitted" class="control-label"></label>
                                        <input asp-for="CrimeCommitted" class="form-control" />
                                        <span asp-validation-for="CrimeCommitted" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="ComplaintBody" class="control-label"></label>
                                        <input asp-for="ComplaintBody" class="form-control" />
                                        <span asp-validation-for="ComplaintBody" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="LetterNo" class="control-label"></label>
                                        <input asp-for="LetterNo" class="form-control" />
                                        <span asp-validation-for="LetterNo" class="text-danger"></span>
                                    </div>
                                </div>
                                @* <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Gender" class="control-label"></label>
                                        @Html.DropDownList("Gender", Html.GetEnumSelectList<Gender>(), " ዖታ ይምረጡ ", new { @class = "form-control" })
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Amount" class="control-label"></label>
                                        <input asp-for="Amount" class="form-control" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="OrderedClass" class="control-label"></label>
                                        <input asp-for="OrderedClass" class="form-control" />
                                        <span asp-validation-for="OrderedClass" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="OrderContent" class="control-label"></label>
                                        <input asp-for="OrderContent" class="form-control" />
                                        <span asp-validation-for="OrderContent" class="text-danger"></span>
                                    </div>
                                </div> 
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="LetterNo" class="control-label"></label>
                                        <input asp-for="LetterNo" class="form-control" />
                                        <span asp-validation-for="LetterNo" class="text-danger"></span>
                                    </div>
                                    </div>*@
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="LetterDate" class="control-label"></label>
                                        <input asp-for="LetterDate" class="form-control" />
                                        <span asp-validation-for="LetterDate" class="text-danger"></span>
                                    </div>
                                </div>
                                 <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Zone" class="control-label"></label>
                                        <input asp-for="Zone" class="form-control" />
                                        <span asp-validation-for="Zone" class="text-danger"></span>
                                    </div>
                                </div>
                                @*<div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Remark" class="control-label"></label>
                                        <input asp-for="Remark" class="form-control" />
                                        <span asp-validation-for="Remark" class="text-danger"></span>
                                    </div>
                                </div> *@
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                                        <select asp-for="SectrorsDepartmentId" class ="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="submit" value="መዝግብ" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-info" style="color:white;"> ወደ ዝርዝር ተመለስ </a>
                                        @*  <a asp-action="Index">Back to List</a> *@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
