
@using ExpertManagmentSystem.Enums
@using ExpertManagmentSystem.OrganizationalStructures
@* @model ExpertManagmentSystem.Models.CivilCaseModels.CCFreeLegServiceFollowup *@
@model ExpertManagmentSystem.ViewModels.CivilCaseViewModels.CCFreeLsfuViewModel

@{
    ViewData["Title"] = "ReginalDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">የመንግስት  ይግባኝ መልስ ሰጪ ፍርድ ቤት መከታተያ </h3>
    </div>
    <!-- /.card-header  -->
    <!-- form start -->
    <form asp-action="CCFreeLegalServiceFollowup">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CCFreelServicesId" class="control-label"></label>
                    <input type="text" asp-for="CCFreelServicesId" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Doc" class="control-label"></label>
                    <input type="Date" asp-for="Doc" class="form-control" />
                    <span asp-validation-for="Doc" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Doa" class="control-label"></label>
                    <input type="Date" asp-for="Doa" class="form-control" />
                    <span asp-validation-for="Doa" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="AppointmentType" class="control-label"></label>
                    <input asp-for="AppointmentType" class="form-control" />
                    <span asp-validation-for="AppointmentType" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="DoD" class="control-label"></label>
                    <input type="Date" asp-for="DoD" class="form-control" />
                    <span asp-validation-for="DoD" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DecisionStatus" class="control-label"></label>
                    @Html.DropDownList("DecisionStatus", Html.GetEnumSelectList<TypeofDecision>(), " የውሳኔ አይነት ይምረጡ ", new { @class = "form-control" })
                    <span asp-validation-for="DecisionStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Decisionmadeby" class="control-label"></label>
                <input asp-for="Decisionmadeby" class="form-control" />
                <span asp-validation-for="Decisionmadeby" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="መዝግብ" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success float-right btn-circle  text-light btn-sm"> ወደ ዋናው ተመለስ </a>
            </div>

        </div>
        <!-- /.card-body -->
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
