@using ExpertManagmentSystem.Enums
@using ExpertManagmentSystem.Models.Corruption
@model ExpertManagmentSystem.Models.Corruption.CO_CorruptionCharge

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ለዐቃቤ ህግ የቀረበ ቀጥተኛ መመዝገቢያ</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="body-box">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label asp-for="prosecutorNo" class="control-label"></label>
                                    <input asp-for="prosecutorNo" class="form-control" />
                                    <span asp-validation-for="prosecutorNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="InvestigationNo" class="control-label"></label>
                                    <input asp-for="InvestigationNo" class="form-control" />
                                    <span asp-validation-for="InvestigationNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="CourtNo" class="control-label"></label>
                                    <input asp-for="CourtNo" class="form-control" />
                                    <span asp-validation-for="CourtNo" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="DefendentName" class="control-label"></label>
                                    <input asp-for="DefendentName" class="form-control" />
                                    <span asp-validation-for="DefendentName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Gender" class="control-label"></label>
                                    @Html.DropDownList("Gender", Html.GetEnumSelectList<Gender>(), " ዖታ ይምረጡ ", new { @class = "form-control" })
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Age" class="control-label"></label>
                                    <input asp-for="Age" class="form-control" />
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="ApplicantName" class="control-label"></label>
                                    <input asp-for="ApplicantName" class="form-control" />
                                    <span asp-validation-for="ApplicantName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="ApplicantGender" class="control-label"></label>
                                    @Html.DropDownList("ApplicantGender", Html.GetEnumSelectList<Gender>(), " ዖታ ይምረጡ ", new { @class = "form-control" })
                                    <span asp-validation-for="ApplicantGender" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="ApplicantAge" class="control-label"></label>
                                    <input asp-for="ApplicantAge" class="form-control" />
                                    <span asp-validation-for="ApplicantAge" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Amount" class="control-label"></label>
                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="OpeningDate" class="control-label"></label>
                                    <input asp-for="OpeningDate" class="form-control" />
                                    <span asp-validation-for="OpeningDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Zone" class="control-label"></label>
                                    <input asp-for="Zone" class="form-control" />
                                    <span asp-validation-for="Zone" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Woreda" class="control-label"></label>
                                    <input asp-for="Woreda" class="form-control" />
                                    <span asp-validation-for="Woreda" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Kebele" class="control-label"></label>
                                    <input asp-for="Kebele" class="form-control" />
                                    <span asp-validation-for="Kebele" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Cr_Crime_TypeId" class="control-label"></label>
                                    <select asp-for="Cr_Crime_TypeId" class ="form-control" asp-items="ViewBag.Cr_Crime_TypeId"></select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="ExpertName" class="control-label"></label>
                                    <input asp-for="ExpertName" class="form-control" />
                                    <span asp-validation-for="ExpertName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="NumberofWitnesses" class="control-label"></label>
                                    <input asp-for="NumberofWitnesses" class="form-control" />
                                    <span asp-validation-for="NumberofWitnesses" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="Exhibit" class="control-label"></label>
                                    <input asp-for="Exhibit" class="form-control" />
                                    <span asp-validation-for="Exhibit" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="ProsecutorsDecisionId" class="control-label"></label>
                                    <select asp-for="ProsecutorsDecisionId" class ="form-control" asp-items="ViewBag.ProsecutorsDecisionId"></select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="DecisionStatus" class="control-label"></label>
                                    @Html.DropDownList("DecisionStatus", Html.GetEnumSelectList<DecisionStatus>(), " ውሳኔ ያፅድቁ ", new { @class = "form-control" })
                                    <span asp-validation-for="DecisionStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                                    <select asp-for="SectrorsDepartmentId" class ="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
                                </div>
                            </div>
                            <div class="row">
                                    
                                <div class="form-group col-sm-6">
                                    <input type="submit" value="መዝግብ" class="btn btn-primary btn-lg float-right" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
