@using ExpertManagmentSystem.Enums
@model ExpertManagmentSystem.Models.DocumentModel.Doc_CivilAssosation

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">የሲቪል ማህበር መመዝገቢያ</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="body-box">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="row">
              <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="CivilLicenseNo" class="control-label"></label>
                <input asp-for="CivilLicenseNo" class="form-control" />
                <span asp-validation-for="CivilLicenseNo" class="text-danger"></span>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="AssosationName" class="control-label"></label>
                <input asp-for="AssosationName" class="form-control" />
                <span asp-validation-for="AssosationName" class="text-danger"></span>
            </div>
            </div>
              <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="licensedDate" class="control-label"></label>
                <input asp-for="licensedDate" class="form-control" />
                <span asp-validation-for="licensedDate" class="text-danger"></span>
            </div></div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="licensedUpdateDate" class="control-label"></label>
                <input asp-for="licensedUpdateDate" class="form-control" />
                <span asp-validation-for="licensedUpdateDate" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="ServiceFee" class="control-label"></label>
                <input asp-for="ServiceFee" class="form-control" />
                <span asp-validation-for="ServiceFee" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="RecietNo" class="control-label"></label>
                <input asp-for="RecietNo" class="form-control" />
                <span asp-validation-for="RecietNo" class="text-danger"></span>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="AssosationAim" class="control-label"></label>
                <input asp-for="AssosationAim" class="form-control" />
                <span asp-validation-for="AssosationAim" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="ManagerName" class="control-label"></label>
                <input asp-for="ManagerName" class="form-control" />
                <span asp-validation-for="ManagerName" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Expert" class="control-label"></label>
                <input asp-for="Expert" class="form-control" />
                <span asp-validation-for="Expert" class="text-danger"></span>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="AssosationMember" class="control-label"></label>
                <input asp-for="AssosationMember" class="form-control" />
                <span asp-validation-for="AssosationMember" class="text-danger"></span>
            </div>
            </div>
              <div class="col-sm-4"> 
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
              @Html.DropDownList("gender", Html.GetEnumSelectList<Gender>(), " ጾታ  ይምረጡ ", new { @class = "form-control" })
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>  
            </div>
             <div class="col-sm-4">
             <div class="form-group">
                <label asp-for="DisablityStatus" class="control-label"></label>
              @Html.DropDownList("DisablityStatus", Html.GetEnumSelectList<DisablityStatus>(), " ጾታ  ይምረጡ ", new { @class = "form-control" })
                <span asp-validation-for="DisablityStatus" class="text-danger"></span>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                <select asp-for="SectrorsDepartmentId" class ="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
            </div>
            </div>
             <div class="col-sm-4">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
             <div class="col-sm-4">
              <div class="form-group">
                  <a asp-action="Index" class="btn btn-info" style="color:white;"> ወደ ዝርዝር ተመለስ </a>
                 </div>
                </div>
                </div>
        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
