@model ExpertManagmentSystem.Models.CivilCaseModels.PerformanceChargeFollowUp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PerformanceChargeFollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="ApointmentType" class="control-label"></label>
                <input asp-for="ApointmentType" class="form-control" />
                <span asp-validation-for="ApointmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApointmentDate" class="control-label"></label>
                <input asp-for="ApointmentDate" class="form-control" />
                <span asp-validation-for="ApointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasDecissionMade" class="control-label"></label>
                <input asp-for="HasDecissionMade" class="form-control" />
                <span asp-validation-for="HasDecissionMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfDecission" class="control-label"></label>
                <input asp-for="TypeOfDecission" class="form-control" />
                <span asp-validation-for="TypeOfDecission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecidedBy" class="control-label"></label>
                <input asp-for="DecidedBy" class="form-control" />
                <span asp-validation-for="DecidedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyGained" class="control-label"></label>
                <input asp-for="MoneyGained" class="form-control" />
                <span asp-validation-for="MoneyGained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProperyClosed" class="control-label"></label>
                <input asp-for="ProperyClosed" class="form-control" />
                <span asp-validation-for="ProperyClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiffrenetReasons" class="control-label"></label>
                <input asp-for="DiffrenetReasons" class="form-control" />
                <span asp-validation-for="DiffrenetReasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformanceChargeOpenningId" class="control-label"></label>
                <select asp-for="PerformanceChargeOpenningId" class="form-control" asp-items="ViewBag.PerformanceChargeOpenningId"></select>
                <span asp-validation-for="PerformanceChargeOpenningId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdittedAt" class="control-label"></label>
                <input asp-for="EdittedAt" class="form-control" />
                <span asp-validation-for="EdittedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
