@model ExpertManagmentSystem.Models.CrimeModels.Cr_CrimeFollowUpModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cr_CrimeFollowUpModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cr_CrimeFollowUpModelId" />
            <div class="form-group">
                <label asp-for="Cr_ProsecutorComment" class="control-label"></label>
                <input asp-for="Cr_ProsecutorComment" class="form-control" />
                <span asp-validation-for="Cr_ProsecutorComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Other" class="control-label"></label>
                <input asp-for="Other" class="form-control" />
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoLawyeCommented" class="control-label"></label>
                <input asp-for="WhoLawyeCommented" class="form-control" />
                <span asp-validation-for="WhoLawyeCommented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighCourtDecission" class="control-label"></label>
                <select asp-for="HighCourtDecission" class="form-control"></select>
                <span asp-validation-for="HighCourtDecission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherCourtDecition" class="control-label"></label>
                <input asp-for="OtherCourtDecition" class="form-control" />
                <span asp-validation-for="OtherCourtDecition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoJudgeCommentedOnDecision" class="control-label"></label>
                <input asp-for="WhoJudgeCommentedOnDecision" class="form-control" />
                <span asp-validation-for="WhoJudgeCommentedOnDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfFemaleAppellants" class="control-label"></label>
                <input asp-for="NumberOfFemaleAppellants" class="form-control" />
                <span asp-validation-for="NumberOfFemaleAppellants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfMaleAppellants" class="control-label"></label>
                <input asp-for="NumberOfMaleAppellants" class="form-control" />
                <span asp-validation-for="NumberOfMaleAppellants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileStatus" class="control-label"></label>
                <select asp-for="FileStatus" class="form-control"></select>
                <span asp-validation-for="FileStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileEndResult" class="control-label"></label>
                <select asp-for="FileEndResult" class="form-control"></select>
                <span asp-validation-for="FileEndResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfAppointment" class="control-label"></label>
                <input asp-for="DateOfAppointment" class="form-control" />
                <span asp-validation-for="DateOfAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileIssuedDate" class="control-label"></label>
                <input asp-for="FileIssuedDate" class="form-control" />
                <span asp-validation-for="FileIssuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileReturnedDate" class="control-label"></label>
                <input asp-for="FileReturnedDate" class="form-control" />
                <span asp-validation-for="FileReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederalBreakingRequest" class="control-label"></label>
                <select asp-for="FederalBreakingRequest" class="form-control"></select>
                <span asp-validation-for="FederalBreakingRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cr_JudicalAppealOpeningId" class="control-label"></label>
                <select asp-for="Cr_JudicalAppealOpeningId" class="form-control" asp-items="ViewBag.Cr_JudicalAppealOpeningId"></select>
                <span asp-validation-for="Cr_JudicalAppealOpeningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
