@model ExpertManagmentSystem.Models.Corruption.CO_Closed_SentInReverse

@{
    ViewData["Title"] = "Create";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">የመሪ ትዕዛዝ መመዝገቢያ</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="body-box">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="ProsecutorNo" class="control-label"></label>
                                        <input asp-for="ProsecutorNo" class="form-control" />
                                        <span asp-validation-for="ProsecutorNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Defenedant" class="control-label"></label>
                                        <input asp-for="Defenedant" class="form-control" />
                                        <span asp-validation-for="Defenedant" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="DefenedantZone" class="control-label"></label>
                                        <input asp-for="DefenedantZone" class="form-control" />
                                        <span asp-validation-for="DefenedantZone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="RegisterDate" class="control-label"></label>
                                        <input asp-for="RegisterDate" class="form-control" />
                                        <span asp-validation-for="RegisterDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="OpinionGiven" class="control-label"></label>
                                        <select asp-for="OpinionGiven" class="form-control"></select>
                                        <span asp-validation-for="OpinionGiven" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                                        <select asp-for="SectrorsDepartmentId" class="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="submit" value="መዝግብ" class="btn btn-primary" />
                                        @* <div>
                                        </div> *@
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-info" style="color:white;"> ወደ ዝርዝር ተመለስ </a>
                                        @*  <a asp-action="Index">Back to List</a> *@
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProsecutorNo" class="control-label"></label>
                <input asp-for="ProsecutorNo" class="form-control" />
                <span asp-validation-for="ProsecutorNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Defenedant" class="control-label"></label>
                <input asp-for="Defenedant" class="form-control" />
                <span asp-validation-for="Defenedant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefenedantZone" class="control-label"></label>
                <input asp-for="DefenedantZone" class="form-control" />
                <span asp-validation-for="DefenedantZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpinionGiven" class="control-label"></label>
                <select asp-for="OpinionGiven" class="form-control"></select>
                <span asp-validation-for="OpinionGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                <select asp-for="SectrorsDepartmentId" class ="form-control" asp-items="ViewBag.SectrorsDepartmentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
