@model ExpertManagmentSystem.Models.Corruption.CO_JudicialAppealOrBreakDecision

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CO_JudicialAppealOrBreakDecision</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CO_JudicialAppealOrBreakDecisionId" />
            <div class="form-group">
                <label asp-for="CO_JudicialAppealOrBreakId" class="control-label"></label>
                <select asp-for="CO_JudicialAppealOrBreakId" class="form-control" asp-items="ViewBag.CO_JudicialAppealOrBreakId"></select>
                <span asp-validation-for="CO_JudicialAppealOrBreakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourtDecision" class="control-label"></label>
                <select asp-for="CourtDecision" class="form-control"></select>
                <span asp-validation-for="CourtDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertOpinion" class="control-label"></label>
                <input asp-for="ExpertOpinion" class="form-control" />
                <span asp-validation-for="ExpertOpinion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Various" class="control-label"></label>
                <input asp-for="Various" class="form-control" />
                <span asp-validation-for="Various" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewExisting" class="control-label"></label>
                <select asp-for="NewExisting" class="form-control"></select>
                <span asp-validation-for="NewExisting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinnerLoser" class="control-label"></label>
                <select asp-for="WinnerLoser" class="form-control"></select>
                <span asp-validation-for="WinnerLoser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederalRequested" class="control-label"></label>
                <select asp-for="FederalRequested" class="form-control"></select>
                <span asp-validation-for="FederalRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectrorsDepartmentId" class="control-label"></label>
                <input asp-for="SectrorsDepartmentId" class="form-control" />
                <span asp-validation-for="SectrorsDepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
