@model ExpertManagmentSystem.Models.CivilCaseModels.LeadingCommandAndAppealNotSupported

@{
    ViewData["Title"] = "Create";
}

<h4>Create leading command</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateLeadingCommand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="ProsecutorRecordNumber" class="control-label"></label>
                    <input asp-for="ProsecutorRecordNumber" class="form-control" />
                    <span asp-validation-for="ProsecutorRecordNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourtRecordNumber" class="control-label"></label>
                    <input asp-for="CourtRecordNumber" class="form-control" />
                    <span asp-validation-for="CourtRecordNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plaintiff" class="control-label"></label>
                    <input asp-for="Plaintiff" class="form-control" />
                    <span asp-validation-for="Plaintiff" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Accused" class="control-label"></label>
                    <input asp-for="Accused" class="form-control" />
                    <span asp-validation-for="Accused" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpenningDate" class="control-label"></label>
                    <input asp-for="OpenningDate" class="form-control" />
                    <span asp-validation-for="OpenningDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeOfIssue" class="control-label"></label>
                    <input asp-for="TypeOfIssue" class="form-control" />
                    <span asp-validation-for="TypeOfIssue" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="LeadingCommandAndUnSupportAppeal" class="control-label"></label>
                    <input asp-for="LeadingCommandAndUnSupportAppeal" class="form-control" />
                    <span asp-validation-for="LeadingCommandAndUnSupportAppeal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmountPerBirr" class="control-label"></label>
                    <input asp-for="AmountPerBirr" class="form-control" />
                    <span asp-validation-for="AmountPerBirr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmountPerSquerMetter" class="control-label"></label>
                    <input asp-for="AmountPerSquerMetter" class="form-control" />
                    <span asp-validation-for="AmountPerSquerMetter" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="ProsecutorSupportTo" class="control-label"></label>
                    <input asp-for="ProsecutorSupportTo" class="form-control" />
                    <span asp-validation-for="ProsecutorSupportTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressZone" class="control-label"></label>
                    <input asp-for="AddressZone" class="form-control" />
                    <span asp-validation-for="AddressZone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressWoreda" class="control-label"></label>
                    <input asp-for="AddressWoreda" class="form-control" />
                    <span asp-validation-for="AddressWoreda" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="NameOfTheExpert" class="control-label"></label>
                    <input asp-for="NameOfTheExpert" class="form-control" />
                    <span asp-validation-for="NameOfTheExpert" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompletionDate" class="control-label"></label>
                    <input asp-for="CompletionDate" class="form-control" />
                    <span asp-validation-for="CompletionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeTakenToComplete" class="control-label"></label>
                    <input asp-for="TimeTakenToComplete" class="form-control" />
                    <span asp-validation-for="TimeTakenToComplete" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="ProsecutorDecission" class="control-label"></label>
                    <input asp-for="ProsecutorDecission" class="form-control" />
                    <span asp-validation-for="ProsecutorDecission" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="LeadingCommands" class="btn btn-outline-light">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
