@using ExpertManagmentSystem.Enums
@model ExpertManagmentSystem.Models.CivilCaseModels.CCPetition

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CCPetition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CCPetitionId" />
            <div class="form-group">
                <label asp-for="PeFileNo" class="control-label"></label>
                <input asp-for="PeFileNo" class="form-control" />
                <span asp-validation-for="PeFileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pevicerequester" class="control-label"></label>
                <input asp-for="Pevicerequester" class="form-control" />
                <span asp-validation-for="Pevicerequester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeGender" class="control-label"></label>
                <input asp-for="PeGender" class="form-control" />
                <span asp-validation-for="PeGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeAge" class="control-label"></label>
                <input asp-for="PeAge" class="form-control" />
                <span asp-validation-for="PeAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeSupportType" class="control-label"></label>
                <input asp-for="PeSupportType" class="form-control" />
                <span asp-validation-for="PeSupportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeDoariv" class="control-label"></label>
                <input asp-for="PeDoariv" class="form-control" />
                <span asp-validation-for="PeDoariv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeTypes" class="control-label"></label>
                <input asp-for="PeTypes" class="form-control" />
                <span asp-validation-for="PeTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeAddressZone" class="control-label"></label>
                <input asp-for="PeAddressZone" class="form-control" />
                <span asp-validation-for="PeAddressZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeAddressWoreda" class="control-label"></label>
                <input asp-for="PeAddressWoreda" class="form-control" />
                <span asp-validation-for="PeAddressWoreda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeExpertName" class="control-label"></label>
                <input asp-for="PeExpertName" class="form-control" />
                <span asp-validation-for="PeExpertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeDaos" class="control-label"></label>
                <input asp-for="PeDaos" class="form-control" />
                <span asp-validation-for="PeDaos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeDoare" class="control-label"></label>
                <input asp-for="PeDoare" class="form-control" />
                <span asp-validation-for="PeDoare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeTimeTaken" class="control-label"></label>
                <input asp-for="PeTimeTaken" class="form-control" />
                <span asp-validation-for="PeTimeTaken" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CCPeDecissionTypes" class="control-label"></label>
                <input asp-for="CCPeDecissionTypes" class="form-control" />
                @* @Html.DropDownList("CCPeDecissionTypes", Html.GetEnumSelectList<CCPDecissionTypes>(), " የአቃቢ ህግ ውሳኔ ይምረጡ ", new { @class = "form-control" }) *@
                <span asp-validation-for="CCPeDecissionTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeAssignto" class="control-label"></label>
                <input asp-for="PeAssignto" class="form-control" />
                <span asp-validation-for="PeAssignto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
